<%= simple_form_for @event do |event| %>
  <%= event.input :title %>
  <%= event.input :description %>
  <%= event.input :start_date %>
  <%= event.input :end_date %>
  <h2>Location</h2>
  <%= select(:event, :location_id, options_from_collection_for_select(Location.all, :id, :name), {include_blank: true}) %>
  <%= event.button :submit %>
<% end %>
